.gameboard-container{
    margin: 4rem auto 3rem;

}
.grid-div{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 27rem;
    height: 27rem;
    margin: 0 auto;
    gap: 20px;
    
}
.board-box{
    background-color: rgba(227, 207, 116, 0.98);
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.board-box button{
    background-color: rgba(227, 207, 116, 0.98);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
}